*.pyc
taskManager/utils/outputs/*
taskManager/utils/reports/*
taskManager/utils/code_tmp/*

.vscode/settings.json
*/migrations/*
reports/*
taskManager/utils/report.zip
slience/__pycache__/settings.cpython-36.pyc
slience/__pycache__/settings.cpython-36.pyc
slience/__pycache__/urls.cpython-36.pyc
slience/__pycache__/__init__.cpython-36.pyc
slience/__pycache__/settings.cpython-36.pyc
slience/__pycache__/urls.cpython-36.pyc
slience/__pycache__/wsgi.cpython-36.pyc
accounts/__pycache__/__init__.cpython-36.pyc
accounts/__pycache__/serializers.cpython-36.pyc
accounts/__pycache__/views.cpython-36.pyc
report.html
log.html
celerybeat.pid
