*.pyc
taskManager/utils/outputs/*
taskManager/utils/reports/*
taskManager/utils/code_tmp/*

.vscode/settings.json
*/migrations/*
reports/*
taskManager/utils/report.zip
slience/__pycache__/settings.cpython-36.pyc
